<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <input type="email" id="email">
    <input type="password" id="password">
    <input type="name" id="name">
    <select id="usertype">
        <option value="user">User</option>
        <option value="admin">Admin</option>

    </select>
    <button onclick="submit()">submit</button>



    

    <script src="app.js"></script>
</body>
</html>